$breakpoint-tablet: 780px;
$breakpoint-widescreen: 1500px;

// colors:

$color-light: rgb(236, 236, 236);
$color-white: #CBBCD3;
$color-main: #E8D7F1;
$color-greyish: #8F66A5;
$color-dark: #58306D;
$color-dark-active: #2C0E3D;

$color-contrast: #0F4880;
$color-extra-contrast: #0A3055;

$color-boxshaow: #b2b1b04d;

$color-home: #9D7A70;