$breakpoint-tablet: 780px;
$breakpoint-widescreen: 1500px;

// colors:

$color-light: rgb(236, 236, 236);
$color-white: #CBBCD3;
$color-main: #fffffe;
$color-greyish: #8F66A5;
$color-dark: #010101;
$color-dark-active: #16161a;
// $color-light: rgb(236, 236, 236);
// $color-white: #CBBCD3;
// $color-main: #E8D7F1;
// $color-greyish: #8F66A5;
// $color-dark: #58306D;
// $color-dark-active: #2C0E3D;

$color-contrast: #72757e;
$color-extra-contrast: #fffffe;

$color-boxshaow: #b2b1b04d;

$color-home: #9D7A70;