@import "./variables";
@import "./mixin";

@include for-phone-only {
    .background {
        &__left {
            width: 100%;
        }

        &__right {
            display: none;
            //need to update shapes
        }

        .corner {
            bottom: -8%;
            right: -8%;
            width: 100%;
        }

        .circle_up {
            height: 115px;
            width: 115px;
            top: 20%;
            right: 20%;
        }

        .circle_down {
            height: 70px;
            width: 70px;
            bottom: 35%;
            right: 65%;
        }
    }

    .page-container {
        transition: all 2s ease-in;

        .m_links {
            display: block;
            position: absolute;
            top: 5%;
            left: 5%;
            z-index: 99;

            .menu {
                height: 65px;
                width: 65px;
                background-image: url('../assets/menu.svg');
                background-repeat: no-repeat;
                background-size: cover;

            }

        }

        .links {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 0;
            opacity: 0;
        }

        .center_container {
            height: 85px;
            top: 5%;
            left: auto;
            right: 5%;
            transform: none;

            &__image {
                width: 85px;
                height: 85px;
            }
        }
    }
}