@import "./variables";
@import "./mixin";

@include for-phone-only {
    .work {
        margin: 0;
        &__h3 {
            margin-top: 130px;
        }
        &__gallery {
            overflow-y: scroll;
            &__item {
                margin: 20px auto;
                min-width: 250px;
            }
        }
    }
}