@import './variables';

.background {
    width: 100vw;
    position: absolute;
    display: flex;
    z-index: -1;
    overflow: hidden;

    &__left {
        height: 100vh;
        width: 35vw;
        background-color: $color-light;
    }

    &__right {
        height: 100vh;
        width: 65vw;
        background-color: $color-white;

    }

    .shape {
        position: absolute;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        opacity: 0.6;
    }

    .corner {
        background: url('../assets/corner.svg');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        height: 100%;
        width: 60%;
        bottom: -15%;
        right: -10%;
        opacity: 1;
    }

    .circle_up {
        background-image: url('../assets/circle1.svg');
        height: 250px;
        width: 250px;
        top: 5%;
        right: 5%;
    }

    .circle_down {
        background-image: url('../assets/circle2.svg');
        height: 130px;
        width: 130px;
        bottom: 15%;
        right: 45%;
    }
}

.page-container {
    width: 100vw;
    height: 100vh;
    display: flex;

    .m_links {display: none;}
    .links {
        display: flex;
        align-items: center;
        height: 100%;
        width: calc(35vw - 250px);
        min-width: 315px;
        z-index: 1;
    }

    .center_container {
        height: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 35vw;
        transform: translate(-50%, -50%);

        &__image {
            display: flex;
            justify-content: center;
            width: 500px;
            height: 500px;
            border-radius: 50%;
            border: 1px solid $color-contrast;

            &__bgimg {
                width: 80%;
                height: 100%;
                background-image: url('../assets/NoPath.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    }

    .main_area {
        height: 100%;
        width: 100%;
        display: flex;
        z-index: 1;
    }
}