@import "./style/variables";
@import "./style/mixin";
@import "./style/hamburgers/hamburgers";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-size: 30px;
    overflow: hidden;

    color: $color-contrast;
}


// @include for-phone-only {
//     body {
//         overflow-y: scroll;
//     }
// }